.cover__shadow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    width: 1184px;
    position: absolute;
    z-index: 2;
    background-size: contain;
    height: 100%;
}
.cover__shadow:hover {
    background: rgba(42, 44, 47, 0.7);
    transition: 0.8s ease-in-out;
    position: absolute;
}
@media (min-width: 1040px) and (max-width: 1280px) {
    .cover__shadow {
        width: 1024px;
    }
}
@media (min-width: 768px) and (max-width: 1040px) {
    .cover__shadow {
        width: 768px;
    }
}
@media (max-width: 767px) {
    .cover__shadow {
        width: 320px;
    }
}