.footer__link-container {
    display: flex;
    justify-content: space-between;
    width: 465px;
}
@media (max-width: 768px) {
    .footer__link-container {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 48px;
    }
}