.lead__subtitle {
    margin: 32px auto 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    width: 640px;
    text-align: center;
    font-family: Inter, Arial, sans-serif;
}
@media (max-width: 767px) {
    .lead__subtitle {
        display: block;
        margin: 16px auto 0;
        font-size: 16px;
        line-height: 20px;
        width: 288px;
    }
}