.place__link {
    color: white;
    padding-top: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.place__link:hover {
    opacity: 0.8;
    transition: 0.8s ease-in-out;
}