.place {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 460px 484px;
    row-gap: 48px;
    column-gap: 40px;
    margin-bottom: 80px;
}
@media (min-width: 1024px) and (max-width: 1280px) {
    .place {
        grid-template-columns: 440px 456px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    .place {
        grid-template-columns: 340px 352px;
    }
}
@media (max-width: 767px) {
    .place {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 320px;
        row-gap: 0;
        column-gap: 0;
        margin-bottom: 50px;
    }
    .place:last-child {
        margin-bottom: 50px;
    }
}